
*.xcscheme

*.xcuserstate

RETableViewManagerExample/Pods/Pods.xcodeproj/xcuserdata/maratkhuzhayarov.xcuserdatad/xcschemes/xcschememanagement.plist

RETableViewManagerExample/RETableViewManagerExample.xcodeproj/xcuserdata/maratkhuzhayarov.xcuserdatad/xcschemes/xcschememanagement.plist
